.page {
    block-size: 100%;
}

.page__body {
   min-block-size: 100%;
   display: grid; 
   grid-template-rows: min-content 1fr min-content;
   margin: 0;
   background-color: #FEAFC3;
   color: #2D3340;
}

.main-header__wrapper {
  inline-size: 1170px;
  margin-inline: auto;
}

.main-index__wrapper {
  inline-size: 1170px;
  margin-inline: auto;
}

.main-footer__wrapper {
  inline-size: 1366px;
  margin-inline: auto;
}