/* Fonts */

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2");
  font-display: swap;
}

/* Global stiles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding-inline: 32px;
  padding-block: 12px;
  border: none;
  border-radius: 26px;
  outline: 4px rgba(252, 252, 252, 0.4) solid;
  background-color: #FCFCFC;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  transition: background-color 100ms ease-out, outline-color 100ms ease-out, box-shadow 100ms ease-out;

  &:hover {
    outline-color: #FCFCFC;
    background-color: rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 15px 0px rgba(133, 133, 133, 0.15);
    transition: background-color, outline, box-shadow 100ms ease-out;
  }

  &:focus {
    outline: 2px solid #2D3440;
    background-color: rgba(252, 252, 252, 0.5);
  }

  &:active {
    outline: 2px solid #2D3440;
    background-color: #FCFCFC;
    box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  }

  &:disabled {
    outline: 4px solid rgba(252, 252, 252, 0.4);
    background-color: #E7E7E7;
    color: #B9B9B9;
  }
}

.button--dark {
  outline: 4px solid rgba(255, 47, 100, 0.3);
  background-color: #FF2F64;
  color: #FCFCFC;

  &:hover {
    outline: 4px solid #FF2F64;
    background-color: rgba(252, 252, 252, 0.3);
    color: #2D3440;
    transition: background-color, outline, color 100ms ease-out;
  }

  &:focus {
    outline: 2px solid #2D3440;
    background-color: #FF2F64;
    color: #FCFCFC;
  }

  &:active {
    outline: 2px solid #2D3440;
    background-color: #FEAFC3;
    color: #FCFCFC;
  }

  &:disabled {
    outline: 4px solid rgba(185, 185, 185, 0.3);
    background-color: #B9B9B9;
    color: #565C66;

  }
}

.input {
  padding-inline: 16px;
  padding-block: 14px;
  border: none;
  outline: 1px #B9B9B9 solid;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    outline-color: #2D3340;
  }

  &:focus {
    outline-width: 3px;
  }

  &:invalid {
    outline-color: #EA5454;

    &:hover {
      outline-width: 3px;
    }
  }

  &:disabled {
    background-color: #E7E7E7;
    opacity: 0.65;
  }
}

/* Page */

.page {
  block-size: 100%;
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.page__body {
  min-inline-size: 1366px;
  min-block-size: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  background-color: #FEAFC3;
  color: #2D3340;
}

.page__body:has(.slider__item--current .icecream__block--strawberry) {
  background-color: #FEAFC3;
}

.page__body:has(.slider__item--current .icecream__block--banana) {
  background-color: #69A9FF;
}

.page__body:has(.slider__item--current .icecream__block--caramel) {
  background-color: #FCC850;
}

/* Header */

.main-header__nav {
  inline-size: 1170px;
  margin-inline: auto;
  line-height: 20px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.site-nav,
.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  margin-block: 24px;
  gap: 16px;
}

.logo {  
  display: block;  
  flex-shrink: 0;
}

.logo__img {
  inline-size: 137px;
  display: block;
}

.site-nav__list {
  min-inline-size: 422px;
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  margin: 0;
  padding: 0;
  margin-block: 9px;
  list-style-type: none;
}

.site-nav__item {
  position: relative;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-inline: 16px;
  padding-block: 8px;
  transition: background-color 100ms ease-out;

  &:hover,
  &:focus {
    border-radius: 30px;
    background-color: rgba(252, 252, 252, 0.5);
    transition: background-color 100ms ease-out;
  }

  &:focus {
    outline: none;
    outline: 2px #000000 solid;
  }

  &:active {
    background-color: rgba(252, 252, 252, 1);
  }
}

.site-nav__link:has(.site-nav__icon) {
  padding-inline-end: 38px;
}

.site-nav__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 16px;
  margin: auto;
  fill: #2D3340;
}

.site-nav__link:focus-within:has(~.header-catalog__list) {
  background-color: #FF4A78;
  outline-color: transparent;
  border-radius: 30px;
  color: #FCFCFC;


  &:hover {
    opacity: 0.6;
    transition: opacity 100ms ease-out;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline-color: #000000;
  }
}

.site-nav__link:focus-within:has(~.header-catalog__list) .site-nav__icon {
  fill: #FCFCFC;
  transform: rotate(180deg);
}

.header-catalog__list {
  display: none;
  position: absolute;
  z-index: 1;
  top: 44px;
  left: 0;
  inline-size: 138px;
  margin: 0;
  padding-inline: 0;
  padding-block: 8px;
  list-style-type: none;
  border-radius: 4px;
  background-color: #FCFCFC;
  box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.12);
}

.site-nav__item:focus-within .header-catalog__list {
  display: block;
}

.header-catalog__item {
  padding-inline: 16px;
  padding-block: 6px;
  font-size: 14px;
}

.header-catalog__item--new {
  position: relative;
  margin-block-end: 12px;
  font-weight: 700;

  &::after {
    position: absolute;
    content: "";
    left: 16px;
    bottom: -5px;
    inline-size: 103px;
    block-size: 2px;
    background-color: #B9B9B9;
  }
}

.header-catalog__item:has(.header-catalog__link) {
  transition: background-color 100ms ease-out;

  &:hover {
    background-color: #FFCBD8;
    transition: background-color 100ms ease-out;
  }

  &:active {
    background-color: #FF7799;
  }

  &:focus-within {
    background-color: #FF4A78;
    color: #FCFCFC;
  }
}

.header-catalog__link:focus {
  outline: none;
}

.user-nav {
  min-inline-size: 431px;
  margin-block: 36px;
  gap: 16px;
}

.user-nav__phone {  
  min-inline-size: 148px;
  display: block;
  font-weight: 700;
}

.user-nav__list {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
}

.user-nav__item {
  position: relative;
}

.user-nav__link {
  position: relative;
  display: block;
  min-inline-size: 32px;
  min-block-size: 32px;
  padding-inline: 16px;
  padding-block: 6px;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);

  &:hover,
  &:focus {
    background-color: rgba(252, 252, 252, 0.5);
  }

  &:focus {
    outline: none;
    outline: 2px #000000 solid;
  }

  &:active {
    background-color: rgba(252, 252, 252, 1);
  }
}

.user-nav__link:has(.user-nav__icon):not(.user-nav__item--seach .user-nav__link) {
  padding-inline-start: 38px;
}

.user-nav__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  right: auto;
  margin: auto;
  fill: #2D3340;
}

.user-nav__item--seach .user-nav__link {
  padding: 8px;
  border-radius: 27px;
}

.user-nav__item--seach .user-nav__icon {
  inset: 0;
}

.user-nav__item--seach .user-nav__link:focus-within:has(~.popover) {
  background-color: #FF4A78;
  transition: opacity 100ms ease-out;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline-color: #000000;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-nav__item--seach .user-nav__link:focus-within:has(~.popover) .user-nav__icon {
  fill: #FFFFFF;
}

.user-nav__link:focus-within:has(~.popover) {
  background-color: #FF4A78;
  outline-color: transparent;
  color: #FCFCFC;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline-color: #000000;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-nav__link:focus-within:has(~.popover) .user-nav__icon {
  fill: #FCFCFC;
}

/* Main */

.wrapper {
  inline-size: 1170px;
  margin-inline: auto;
}

.main-index__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block-end: 80px;
  gap: 30px;
}

/* Promo */

.promo {
  position: relative;
  margin-block-end: 80px;
}

.promo__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.promo__item {
  position: relative;
}

.icecream__block {
  display: grid;
  grid-template-columns: 525px 1fr;
}

.icecream__description {
  padding-inline: 70px 26px;
}

.icecream__title {
  margin-block: 136px 24px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.icecream__text {
  margin-block: 0 48px;
  font-size: 18px;
  line-height: 24px;
}

.icecream__button {
  margin-block-end: 138px;
}

.icecream__slide-show {
  margin: 0;
}

.slide-show {
  display: flex;  
  gap: 41px;
  align-items: center;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.slide {
  position: relative;
  flex-shrink: 0;
  padding-inline: 17px;


  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    top: 25px;
    inline-size: 100px;
    block-size: 100px;
    border-radius: 50%;
    background-color: #FFCBD8;
    opacity: 0.4;
  }
}

.slide--current {
  padding-inline: 20px;
  padding-block: 21px 26px;

  &::after {
    inline-size: 328px;
    block-size: 312px;
    top: 121px;
    left: 20px;
    opacity: 1;
  }
}

.slide__img {
  display: block;
}

.slide--current .slide__img {
  inline-size: 327px;
  block-size: 507px;
}

.promo__controls {
  position: absolute;
  top: 257px;
  left: 526px;
  inline-size: 365px;
  display: flex;
  justify-content: space-between;
}

.promo__button {
  inline-size: 40px;
  block-size: 40px;
  padding: 11px;
  border: 2px #FCFCFC solid;
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.3);
  transition: background-color 100ms ease-out;

  &:hover {
    background-color: #FCFCFC;
    transition: background-color 100ms ease-out;
  }

  &:focus {
    outline: 2px #2D3440 solid;
    background-color: rgba(252, 252, 252, 0.3);
  }

  &:active {
    background-color: rgba(252, 252, 252, 0.5);
    transition: background-color 100ms ease-out, outline 100ms ease-out;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.promo__icon {
  fill: #FCFCFC;
}

.promo__button:hover .promo__icon,
.promo__button:focus .promo__icon,
.promo__button:active .promo__icon {
  fill: #2D3440;
}

.promo__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;

}

.promo__toggles {
  display: flex;  
  gap: 8px;
  margin: 0;
}

.promo__toggle {
  inline-size: 12px;
  block-size: 12px;
  border: none;
  border-radius: 100px;
  background-color: rgba(252, 252, 252, 0.3);
  transition: background-color 100ms ease-out;

  &:hover {
    outline: 1px #FCFCFC solid;
    outline-offset: -1px;
    transition: background-color 100ms ease-out;
  }

  &:focus {
    outline: none;
    outline: 1px #2D3440 solid;
  }

  &:active {
    background-color: rgba(252, 252, 252, 0.5);
    transition: outline-color 100ms ease-out;
  }
}

.promo__toggle--current {
  background-color: #FCFCFC;
}

.promo__social {
  margin: 0;  
}

/* Slider*/

.slider__item {
  display: none;
}

.slider__item--current {
  display: block;
}

/* Gifts */

.gifts {
  margin-block-end: 80px;
}

.gifts__slogan {
  margin-block: 0 55px;
  padding-inline: 368px;
  text-align: center;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.gifts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gifts__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 36px;
  background-color: #FF7799;
  border-radius: 16px;
}

.gifts__description {
  padding-block: 36px 32px;
}

.gifts__title {
  margin-block: 0 28px;
  font-size: 24px;
  line-height: 30px;
}

.gifts__text {
  margin-block: 0 28px;
}

.gifts__img {
  display: block;
}

/* Tastes */

.tastes {
  margin-block-end: 80px;
}

.tastes__slogan {
  margin-block: 0 107px;
  padding-inline: 320px;
  text-align: center;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.tastes__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 91px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tastes__item {
  padding-inline: 40px;
  padding-block-end: 24px;
  text-align: center;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.taste__wrapper {
  margin-block-start: -51px;
}

.taste__img {
  display: block;
  inline-size: 168px;
  margin-inline: 11px;
  margin-block-end: 16px;

}

.taste__title {
  margin-block: 0 8px;
  font-size: 20px;
  line-height: 24px;
}

.taste__description {
  margin-block: 0 16px;
  color: #565656;
}

.taste__buy-block {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.taste__price {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  word-spacing: 2px;
}

.taste__button {
  position: relative;
  inline-size: 32px;
  block-size: 32px;
  border: none;
  outline: none;
  border-radius: 26px;
  background-color: #FF2F64;

  &:hover {
    outline: 2px solid #FF2F64;
    background-color: rgba(252, 252, 252, 0.3);
  }

  &:focus {
    outline: 2px solid #2D3440;
    background-color: #FF2F64;
  }

  &:active {
    outline: 2px solid #FF2F64;
    background-color: rgba(255, 203, 216, 1);
  }

  &:disabled {
    background-color: #B9B9B9;
  }
}

.taste__icon {
  fill: #FCFCFC;
}

.taste__button:hover .taste__icon,
.taste__button:active .taste__icon {
  fill: #2D3440;
}

.taste__button:disabled .taste__icon {
  fill: #565C66;
}

/* About */

.about {
  margin-block-end: 80px;
  padding: 24px;
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -28px top 0;
  border-radius: 16px;
}

.about__wrapper {
  padding-inline: 40px;
  padding-block: 56px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.about__slogan {
  margin-block: 0 56px;
  text-align: center;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.about__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about__item {
  position: relative;
  padding-inline-start: 64px;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    inline-size: 48px;
    block-size: 48px;
    border: 2px #2D3340 solid;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    left: 7px;
    top: 8px;
    content: "";
    inline-size: 48px;
    block-size: 48px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
  }
}

.about__item--ice-cream::after {
  background-image: url(../images/ice-cream.svg);
}

.about__item--cow::after {
  background-image: url(../images/cow.svg);
}

.about__item--leaf::after {
  background-image: url(../images/leaf.svg);
}

.about__item--thermometer::after {
  background-image: url(../images/thermometer.svg);
}

.about__text {
  margin: 0;
}

/* News */

.news {
  padding-inline-start: 32px;
  padding-block-start: 32px;
  border-radius: 16px;
  background-image: url(../images/news-bg.png);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: top -105px right -75px;
  background-color: #FFFFFF;
}

.news__title {
  margin-block: 0 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.news__text {
  margin-inline-end: 235px;
  margin-block: 0 68px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

/* Subscribe */

.subscribe {
  padding: 6px;
  border-radius: 16px;
  background-image: url(../images/subscribe_bg.png);
  background-size: cover;
  background-position: left -5px top 0;
}

.subscribe__wrapper {
  padding: 26px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.subscribe__text {
  margin-block: 0 42px;
}

.subscribe__form {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 18px;
  padding-block: 2px;
}

.subscribe__input {
  inline-size: 332px; 
  
  color: #B9B9B9;
  
}

.subscribe__button {
  align-self: center;
}

/* Delivery */

.delivery {
  position: relative;
  margin-block-end: 80px;
  padding: 64px;
  background-color: #FFFFFF;
  border-radius: 16px;
  background-image: url(../images/delivery-bg.png);
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: top -140px right 0;
  transform: scale(-1, 1);
}

.delivery__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 500px;
  transform: scale(-1, 1);
}

.delivery__intro {
  padding-inline: 36px 135px;
}

.delivery__title {
  margin-block: 103px 24px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.delivery__text {
  margin: 0;
  color: #565C66;
}

.delivery__info {
  padding: 40px;
  border-radius: 8px;
  background-color: #FCFCFC;
}

.delivery__info-text {
  margin-block: 0 32px;
  margin-inline-end: 40px;
  color: #565C66;
}

.delivery__form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
  line-height: 20px;
}

.delivery-form__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
}

.delivery-form__group--adress {
  grid-column: span 2;
}

.delivery-form__label {
  font-weight: 700;
}

.delivery-form__label:has(.delivery-form__tooltip) {
  position: relative;
  padding-inline-end: 18px;
}

.delivery-form__tooltip {
  position: absolute;
  inline-size: 14px;
  block-size: 14px;
  margin-inline-start: 4px;
  margin-block: 3px;
  border: none;
  background-image: url(../images/tooltip.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.delivery-form__input {
  color: #B9B9B9;
}

.delivery__button {
  grid-column: span 2;
  justify-self: center;
  margin-block-start: 14px;
}

/* Contacts */

.contacts {
  padding-inline-start: 64px;
  padding-block: 64px;
  border-radius: 16px;
  background-image: url(../images/contacts-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left 0 top -85px;
}

.contacts__wrapper {
  inline-size: 343px;
  padding-inline: 40px;
  padding-block: 40px 42px;
  border-radius: 8px;
  background-color: #FCFCFC;
}

.contacts__adress {
  font-style: normal;
}

.contacts__text {
  margin-block: 0 12px;
  color: #565C66;
}

.contacts__text--adress {
  margin-block-end: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__text--time {
  margin-block-end: 32px;
  font-size: 14px;
  line-height: 20px;
}

.contacts__phone {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__button {
  display: block;
  margin-inline-end: 13px;
}

/* Footer */

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  padding-block: 48px;
}

.main-footer__list {
  margin: 0;
}

.social {
  display: flex;
  gap: 16px;
  padding: 0;
  list-style-type: none;
}

.social__link {
  position: relative;
  display: block;
  inline-size: 24px;
  block-size: 24px;
  border-radius: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  background-color: transparent;

  &:hover {
    outline: 2px solid rgba(252, 252, 252, 0.5);
    background-color: #2D3440;
  }

  &:focus {
    outline: 2px #2D3440 solid;
    background-color: #2D3440;
  }

  &:active {
    outline: 2px solid rgba(252, 252, 252, 0.5);
    opacity: 0.5;
  }
}

.social__img {
  display: block;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px 24px;
  margin: 0;
  margin-inline-start: 24px;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
}

.footer-nav__item--heart-fill {
  position: relative;
  font-weight: 700;

  &::before {
    position: absolute;
    content: "";
    left: -24px;
    top: 2px;
    inline-size: 16px;
    block-size: 16px;
    background-image: url(../images/heart-fill.svg);
  }
}

.copyright {
  max-inline-size: 200px;
  font-size: 12px;
  line-height: 16px;
}

.copyright__link {
  display: block;
  margin-inline-start: 2px;
}

.copyright__img {
  display: block;
  inline-size: 93px;

}

.copyright__text {
  margin-block: 14px 0;  
}

.copyright__text-link {
  text-decoration: revert;
}

/* Popover */

.popover {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 1;
  min-block-size: 96px;
  padding: 48px;
  border-radius: 4px;
  background-color: #FCFCFC;
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
}

.user-nav__item:focus-within .popover {
  display: block;
}

/*.popover__close-button {
  position: absolute;
  right: 0;
  top: 0;
}*/

.popover__content {
  block-size: 100%;
}

.popover__title {
  margin-block: 0 32px;
  font-size: 24px;
  line-height: 30px;
}

/* Popover-cart */

.popover-cart {
  inline-size: 441px;
}

.popover-cart__list {
  margin: 0;
  margin-block-end: 64px;
  padding: 0;
  list-style-type: none;
}

.popover-cart__item {
  position: relative;
}

.popover-cart__item:not(:last-of-type) {
  margin-block-end: 24px;
}

.popover-cart__item:last-of-type::after {
  position: absolute;
  content: "";
  bottom: -32px;
  inline-size: 100%;
  block-size: 2px;
  background-color: #E7E7E7;
}

.cart-product {
  display: grid;
  grid-template-columns: 1fr 103px 16px;
  align-items: center;
}

.cart-product__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cart-product__img {
  inline-size: 46px;
  block-size: auto;
}

.cart-product__title,
.cart-product__total-price {
  margin-block: 0 4px;
  font-size: 18px;
  font-weight: 700;
}

.cart-product__base-price {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.cart-product__total-price {
  font-size: 18px;
  font-weight: 700;
}

.cart-product__cross-button {
  inline-size: 16px;
  block-size: 16px;
  border: none;
  background-color: transparent;
  background-image: url(../images/cross.svg);
  background-repeat: no-repeat;
}

.popover-cart__buy-block {
  display: grid;
  grid-template-columns: auto 115px;
  gap: 24px;
}

.popover-cart__button {
  background-color: #FF2F64;
  border-color: rgba(255, 47, 100, 0.3);
  color: #FCFCFC;
}

.popover-cart__price {
  font-size: 18px;
  font-weight: 700;
}

/* Popover-login */

.popover-login {
  inline-size: 420px;
}

.popover-login__form {
  margin-block-end: 32px;
}

.popover-login__input {
  inline-size: 100%;
}

.popover-login__input:not(:last-of-type) {
  margin-block-end: 16px;
}

.popover-login__signin-block {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 23px;
}

.popover-login__button {
  background-color: #FF2F64;
  border-color: rgba(255, 47, 100, 0.3);
  color: #FCFCFC;
}

.popover-login__link {
  display: block;
  text-decoration: revert;
}

.popover-login__link+.popover-login__link {
  margin-block-start: 4px;
}

/* Popover-search */

.popover-search {
  inline-size: 356px;
  padding-inline: 16px;
  padding-block: 24px;
}

.popover-search__input {
  inline-size: 100%;
}

/* Catalog__header */

.main-catalog__header {
  margin-block: 32px 40px;
}

.main-catalog__title {
  margin: 0;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.main-catalog__list {
  margin: 0;
  margin-block-end: 16px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.breadcrumbs__item:not(:last-of-type) {
  position: relative;
  padding-inline-end: 28px;

  &::after {
    position: absolute;
    content: "";
    right: 8px;
    top: 4px;
    inline-size: 12px;
    block-size: 12px;
    background-image: url(../images/arrow-dub.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.breadcrumbs__item--current {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    inline-size: 100%;
    block-size: 1px;
    background-color: #2D3440;
  }
}

/* Products__filter */

.products__filter {
  margin-block-end: 97px;
  margin-inline-end: 347px;
}

.filter {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 15px 24px;
  font-size: 14px;
  line-height: 20px;
}

.filter__groupe {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__groupe--fatness {
  grid-column: span 2;
}

.filter__groupe--taste {
  grid-column: span 3; 
}

.filter__title {
  margin-inline-start: 14px;
  margin-block-end: 8px;
}

.select {
  position: relative;
  inline-size: 196px;
}

.select__control {
  inline-size: 100%;
  padding: 8px 16px;
  padding-inline-end: 63px;
  border: none;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  color: inherit;
  font: inherit;
  appearance: none;

  &:hover {
    background-color: rgba(252, 252, 252, 0.5);
  }

  &:focus {
    outline: 2px #FCFCFC solid;
    background-color: rgba(252, 252, 252, 0.4);
  }
}

.range__inputs {
  inline-size: 135px;
  display: flex;
  justify-content: space-between;
}

.range__input {
  inline-size: 30px;
  padding: 0;  
  border: none;
  background-color: transparent;
  appearance: textfield;
  letter-spacing: 1px;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range__block {
  inline-size: 196px;
  padding: 18px 16px;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
}

.range__scale {
  position: relative;
  block-size: 2px;
  background-color: rgba(86, 92, 102, 0.3);
}

.range__bar {
  position: absolute;
  block-size: 2px;
  background-color: #565C66;
}

.range__toggle {
  position: absolute;
  top: -7px;
  inline-size: 16px;
  block-size: 16px;
  border: none;
  border-radius: 50%;
  background-color: #2D3440;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #FCFCFC;

    &::after {
      background-color: #2D3440;
    }
  }

  &:focus {
    outline: 2px #2D3440 solid;
    outline-offset: -2px;
  }

  &:active {
    background-color: #2D3440;
  }

  &::after {
    position: absolute;
    content: "";
    left: 6px;
    top: 6px;
    inline-size: 4px;
    block-size: 4px;
    border-radius: 50%;
    background-color: #FCFCFC;
  }
}

.range__toggle--min {
  left: -8px;
}

.range__toggle--max {
  right: -8px;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 8px 24px;
  list-style-type: none;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
}

.control {
  position: relative;
  display: block;
  padding-inline-start: 24px;
}

.control__mark {
  position: absolute;
  left: 0;
  top: 2px;
  inline-size: 16px;
  block-size: 16px;
}

.control__input[type="radio"]+.control__mark {
  border: 1px #2D3440 solid;
  border-radius: 50%;

  &:hover {
    border-color: #FCFCFC;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.control__input[type="radio"]:checked+.control__mark::before {
  position: absolute;
  content: "";
  left: 4px;
  top: 4px;
  inline-size: 6px;
  block-size: 6px;
  border-radius: 50%;
  background-color: #2D3440;
}

.control__input[type="radio"]:checked+.control__mark:hover::before {
  background-color: #FCFCFC;
}

.control__input[type="radio"]:checked+.control__mark:disabled::before {
  opacity: 0.4;
}

.control__input[type="checkbox"]+.control__mark {
  background-image: url(../images/checkbox-false.svg);

  &:hover {
    background-image: url(../images/checkbox-false-hover.svg);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.control__input[type="checkbox"]:checked+.control__mark {
  background-image: url(../images/checkbox-true.svg);

  &:hover {
    background-image: url(../images/checkbox-true-hover.svg);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.filter__button {
  inline-size: 182px;
  margin-inline-end: 16px;
  margin-block-start: auto;
  padding-block: 8px;
  outline: 2px #FCFCFC solid;
  background-color: rgba(252, 252, 252, 0.3);
  font-size: 14px;
  transition: background-color 100ms ease-out, outline-color 100ms ease-out;

  &:hover {
    outline-color: rgba(252, 252, 252, 0.3);
    background-color: #FCFCFC;
    transition: background-color 100ms ease-out, outline-color 100ms ease-out;
  }

  &:focus {
    background-color: rgba(252, 252, 252, 0.3);
    outline-color: #2D3440;
  }

  &:active {
    outline-color: transparent;
    background-color: rgba(252, 252, 252, 0.5);
  }

  &:disabled {
    opacity: 0.4;
  }
}

/* Products__catalog */

.products__catalog {
  margin-block-end: 40px;
}

.tastes__pagination {
  margin-block-start: 16px;
}

.pagination-block {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding-block: 41px;
}

.pagination-block__item {
  inline-size: 152px;
}

.pagination-block__button {
  margin-inline: 335px auto;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__link {
  padding: 2px 7px;
  border-radius: 50px;
  line-height: 20px;

  &:hover {
    background-color: rgba(252, 252, 252, 0.5);
  }

  &:focus {
    background: rgba(252, 252, 252, 0.3);
    outline: 1px #2D3440 solid;
  }

  &:active {
    background-color: rgba(252, 252, 252, 0.5);
    outline-color: #FCFCFC;
  }
}

.pagination__link--prev {
  margin-inline-end: 10px;
  background-image: url(../images/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination__link--next {
  margin-inline-start: 10px;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination__link--current {
  background-color: #FCFCFC;
}

.pagination__link--disabled {
  opacity: 0.3;
}